DJANGO_SETTINGS_MODULE=config.settings.base
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=*
SERVICE_NAME=gamedex
BASE_PATH=
MULTITENANT=false

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=gamedex

REDIS_URL=redis://localhost:6379/0

ARTIFACT_VERSION=unknown
